[project]
	description = Examples from the book 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/gkartikeya07
[access "refs/for/refs/*"]
	read = group user/gkartikeya07
	push = group user/gkartikeya07
	label-Code-Review = -2..+2 group user/gkartikeya07
	label-Verified = -1..+1 group user/gkartikeya07
	rebase = group user/gkartikeya07
	removeReviewer = group user/gkartikeya07
	submit = group user/gkartikeya07
[access "refs/heads/*"]
	read = group user/gkartikeya07
	create = group user/gkartikeya07
	push = +force group user/gkartikeya07
	pushMerge = group user/gkartikeya07
[access "refs/tags/*"]
	push = +force group user/gkartikeya07
	pushTag = group user/gkartikeya07
	pushSignedTag = group user/gkartikeya07
